body {
  background-color: #999799 !important;
}
.header {
  text-align: center;
}
button {
  background-color: #7e912a;
  height: 100%;
  width: 100%;
  outline-style: inset;
}
img {
  height: 100px;
  width: 100px;
}
h1 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}
div{ 
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.col-6{ 
  outline-style: solid;
}