body {
  background-color: #999799 !important;
}
.header {
  text-align: center;
}
button {
  background-color: #7e912a;
  height: 100%;
  width: 100%;
  outline-style: inset;
}
img {
  height: 100px;
  width: 100px;
}
h1 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}
div{ 
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    
}
.col-sm-6{ 
  outline-style: solid;
  align-items: center !important;
}
button.reset{
  background-color: aliceblue;
  margin-top: 16px;
  height: 20%;
  width: 20%;
      transform: translateY(-50%);
      transform: translateX(200%);
}
.bottom{
  font-size: 17px;
}
.messages{
  text-align: center;
  padding: 2%;
}